.custom-form {
  width: 650px;
  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 20px;
  margin: 30px auto;

  .form-group {
    margin-bottom: 10px;
  }

  input {
    margin: 10px 0;
  }
}

.myTooltip {
  display: inline;
  position: relative;
}

.myTooltip{
  &:hover{
    &:after {
      display: -webkit-flex;
      display: flex;
      position: absolute;
      -webkit-justify-content: center;
      justify-content: center;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: "Warning!!! Input is Empty!";
      margin: -90px;
      font-size: 16px;
      padding: 13px;
      width: 220px;
    }
  }
}

.myTooltip{
  &:hover{
    &:before {
      border: solid;
      border-color: #444 transparent;
      border-width: 12px 6px 0 6px;
      content: "";
      left: 45%;
      bottom: 30px;
      position: absolute;
    }
  }
}