.user-form {
  width: 650px;
}

.warning h2 {
  color: red;
  size: 50px;
}

.warning img {
  width: 70px;

}

.inputWarning {
    border: 1px solid red;
}

.second-form-control {
  border-color: #ff744e !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 26, 0, 0.5) !important;
}

.errorInputs {
  padding: 10px;
  color: #ff744e;
}