.user-form {
  width: 650px;
  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 20px;
  margin: 30px auto;
}

.error-container {
  border: solid 1px gray;
  color: red;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.attention-img {
  width: 30px;
  height: 100%;
}